html{height:100%;}
body{
	margin:0;
	height:100%;
	background:#222;
	color:#DDD;
	font-family:monospace;
}

#stage{height:100%;}

.panel{ height : 100%;}

.viewport{height: calc(100% - 20px);}

.footer{height:20px; background:#444;}

.terminal-container{padding-left:12px;}
.terminal-input .bracket{color:#545454;}
.terminal-input .at{color: #ff263a;}
.terminal-input .name{color: #e5d762;}
.terminal-input .host{color: #1f8c11;}
.terminal-input .cursor{background-color: #FFF;}
.terminal-input .chevron{color: #dedede; font-weight:bold;}
.terminal-input{}


#splashHolder{position:absolute; top:0; left:0; right:0; bottom:0; z-index:2;}
#splashHolder .overlay {background: #222; opacity:0.7; width:100%; height:100%; position: absolute;}
#splash{
	width:450px; 
	min-height:250px; 
	position:absolute; 
	left:50%; 
	top:50%; 
	margin-left:-225px; 
	margin-top:-125px; 
	background-color: #CCC;
	padding:10px;
	color:#111;
}

#splash .close {
	position:absolute; 
	background-color:#CCC;
	color:#222;
	top:-21px; 
	right:0;
	cursor:pointer;
	border:1px solid #AAA;
	padding:2px;
}

#splash .close:hover{
	border-color:#888;
	background-color: #DCDCDC;
}

#splash .options {
	margin-top:25px;
}

#splash .options span {
	display:inline-block;
	width:40px;
}

#fullscreen_prompt{
	position:fixed;
	top:0;
	right:0;
	z-index:3;
	background-color:#CCC;
	color:#222;
	padding:6px;
	display:none;
}

#fullscreen_prompt .options{
	padding-top:4px;
}

#fullscreen_prompt .options button{
	float:right;
	border:1px solid #AAA;
	font:inherit;
	padding:4px;
	cursor:pointer;
	background-color:#CCC;
}

#fullscreen_prompt .options button:hover{
	border-color:#888;
	background-color: #DCDCDC;
}

.about{
	float:right;
	margin:4px 0;
}
a, a:visited{
	color:#666;
}

a:hover{
	color:#222;
}

.cta{
	position:fixed;
	top:200px;
	width:100%;
	opacity:0.5;
}

.cta div{
	padding:10px;
	border:1px solid #CCC;
	color:#CCC;
	background:#666;
	font-size:1.4em;
	width:200px;
	margin:0 auto;
}

.status img{
	height:16px;
	vertical-align:middle;
}

a .icon{
	margin-left:4px;
}