html{height:100%;}
body{
	margin:0;
	height:100%;
	background:#222;
	color:#DDD;
	font-family:monospace;
}

#stage{height:100%;}

.panel{ height : 100%;}

.viewport{height: calc(100% - 20px);}

.footer{height:20px; background:#444;}

.terminal-container{padding-left:12px;}
.terminal-input .bracket{color:#545454;}
.terminal-input .at{color: #ff263a;}
.terminal-input .name{color: #e5d762;}
.terminal-input .host{color: #1f8c11;}
.terminal-input .cursor{background-color: #FFF;}
.terminal-input .chevron{color: #dedede; font-weight:bold;}
.terminal-input{}