html{height:100%;}
body{
	margin:0;
	height:100%;
	background:#222;
	color:#DDD;
	font-family:monospace;
}

#stage{height:100%;}

.panel{ height : 100%;}

.viewport{height: calc(100% - 20px);}

.footer{height:20px; background:#444;}

.terminal-container{padding-left:12px;}
.terminal-input{}